<div class="container-fluid">
  <div class="row sm-gutters">
		
		<div class="col-md-6 col-lg-6 col-xl-3 col-xxl-2 right-container">
         <tokens-left [columns]="displayedColumns" [tabs]="['eos']" [coinsList]="coinsList" [dataSource]="dataSource"></tokens-left>
         <balances-left [columns]="displayedColumnsBalances" [tabs]="['total balances']" [dataSource]="dataSourceBalances"></balances-left>
		</div>

		<div class="col-md-6 col-lg-6 col-xl-6 col-xxl-8">
         <div class="tradingview-widget-container">
             <app-tv-chart-container></app-tv-chart-container>
         </div>
         <buy-sell></buy-sell>
    </div>
    
    <div class="col-md-6 col-lg-6 col-xl-3 col-xxl-2 left-container">
        <orders-book [columns]="displayedColumnsSells" [tabs]="['orders book', 'trade history']" [dataSource]="dataSourceSells" [coinsList]="coinsList"></orders-book>
    </div>

	</div>
</div>

<div class="container-fluid">
    <div class="row sm-gutters bottom-container">
            <div class="col-xl-12">
                <active-orders [columns]="displayedColumnsBalances" [tabs]="['active orders', 'historical orders']" [dataSource]="dataSourceBalances"></active-orders>
            </div>
    </div>
</div>










