<div class="container-fluid">
    <div class="row sm-gutters">
		
		<div class="col-md-6 col-lg-6 col-xl-3 col-xxl-2 right-container">
			<ul class="nav nav-tabs" id="crypt-tab">
                <li role="presentation"><a class="active">EOS</a></li>
                <li role="presentation"><a>Meetone</a></li>
            </ul>
			<div class="example-container mat-elevation-z8 grid-table">
			  <table mat-table [dataSource]="dataSource">
			
			    <!-- Position Column -->
			    <ng-container matColumnDef="symbol">
			      <th mat-header-cell *matHeaderCellDef> Symbol </th>
			      <td mat-cell *matCellDef="let element">
			      	<!--<img src="{{element?.image}}" class="coin-image" alt="">-->
			        {{ element?._id?.symbol }} 
			   	  </td>
			    </ng-container>
			
			    <!-- Name Column -->
			    <ng-container matColumnDef="price">
			      <th mat-header-cell *matHeaderCellDef> Price (EOS) </th>
			      <td mat-cell *matCellDef="let element"> {{ coinsList[element?._id?.ftid]?.price || priceNull }} </td>
			    </ng-container>
			
			    <!-- Weight Column -->
			    <ng-container matColumnDef="change">
			      <th mat-header-cell *matHeaderCellDef> 24h % </th>
			      <td mat-cell *matCellDef="let element"> 
                    <span [ngClass]="{'main-red': coinsList[element?._id?.ftid]?.change < 0, 'main-green': coinsList[element?._id?.ftid]?.change > 0}">{{ coinsList[element?._id?.ftid]?.change || '0.00' }}%</span> 
                  </td>
			    </ng-container>
			
			    <!-- Symbol Column -->
			    <ng-container matColumnDef="volume">
			      <th mat-header-cell *matHeaderCellDef class="text-right"> 24h Vol. </th>
			      <td mat-cell *matCellDef="let element" class="text-right"> {{ coinsList[element?._id?.ftid]?.vol || priceNull }} </td>
			    </ng-container>
			
			    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
			    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
			  </table>
			</div>
		</div>

		<div class="col-md-6 col-lg-6 col-xl-6 col-xxl-8">
                <div class="tradingview-widget-container">
                    <app-tv-chart-container></app-tv-chart-container>
                </div>
        </div>

        <div class="col-md-6 col-lg-6 col-xl-3 col-xxl-2 left-container">
            <ul class="nav nav-tabs" id="crypt-tab">
                <li role="presentation"><a class="active">order book</a></li>
                <li role="presentation"><a>trade history</a></li>
            </ul>
            <div class="example-container mat-elevation-z8 grid-table" #scrollMe>
              <table mat-table [dataSource]="dataSourceSells">
            
                <!-- Name Column -->
                <ng-container matColumnDef="price">
                  <th mat-header-cell *matHeaderCellDef> Price (EOS) </th>
                  <td mat-cell *matCellDef="let element" class="main-red"> {{element?.priceNum?.toFixed(4)}} </td>
                </ng-container>
            
                <!-- Weight Column -->
                <ng-container matColumnDef="qty">
                  <th mat-header-cell *matHeaderCellDef> Qty </th>
                  <td mat-cell *matCellDef="let element"> {{element?.qtyNum?.toFixed(4)}} </td>
                </ng-container>
            
                <!-- Symbol Column -->
                <ng-container matColumnDef="total">
                  <th mat-header-cell *matHeaderCellDef class="text-right"> Total(EOS) </th>
                  <td mat-cell *matCellDef="let element" class="text-right"> {{(element?.priceNum * element?.qtyNum)?.toFixed(4)}} </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumnsSells; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsSells;"></tr>
              </table>
            </div>
        </div>

	</div>
</div>