<div class="crypt-dark">
<header>
        <div class="container-full-width">
            <div class="crypt-header">
                <div class="row">
                    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-5">
                        <div class="row">
                            <div class="col-xs-2">
                                <div class="crypt-logo">
                                    <a href="/">
                                        <img src="/assets/images/{{mainService.logo}}" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="crypt-mega-dropdown-menu"> 
                                    <a  class="crypt-mega-dropdown-toggle">
                                        <img alt="" class="coin-img" src="https://prospectors.io/auction/img/sets/pb.png">
                                        <div class="coin-header-name">
                                            <div>{{mainService?.currency}}/{{mainService.symbol}}</div>
                                            <div class="token-author">{{mainService.author}}</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 header-coin-grid-container">
                        <div class="header-coin-grid header-coin-info">
                            <p class="header-price">{{coinInfo?.price || mainService.priceNull}} {{mainService?.currency}}</p>
                            <p [ngClass]="{'crypt-up' : coinInfo?.change > 0, 'crypt-down' : coinInfo?.change < 0}">{{coinInfo?.change || mainService.priceNull}}%</p>
                        </div>
                        <div class="header-coin-grid header-coin-info">
                            <p class="header-coin-info-title">24h Lowest</p>
                            <p class="crypt-down">{{coinInfo?.min || mainService.priceNull}} {{mainService?.currency}}</p>
                        </div>
                        <div class="header-coin-grid header-coin-info">
                            <p class="header-coin-info-title">24h Highest</p>
                            <p class="crypt-up">{{coinInfo?.max || mainService.priceNull}} {{mainService?.currency}}</p>
                        </div>
                        <div class="header-coin-grid header-coin-info">
                            <p class="header-coin-info-title">24h Vol.</p>
                            <p>{{coinInfo?.vol || mainService.priceNull}} {{mainService.symbol}}</p>
                        </div>
                    </div>
                    <div class="col-xl-5ноу  col-lg-5 col-md-5 d-none d-md-block d-lg-block">
                        <ul class="crypt-heading-menu fright">
                            <li><a routerLink="/trade/sa" class="crypt-active">Simple Assets</a></li>
                            <!--<li><a routerLink="/trade">EOS main</a></li>-->
                            <li><a>My Account</a></li>
                            <li><a>EN <i class="far fa-chevron-down"></i></a></li>
                            <span class="hr-right"></span>
                            <li *ngIf="!loginEOSService.connected"><a class="btn-login" (click)="loginEOSService.openPopup()">login</a></li>
                            <li *ngIf="loginEOSService.connected">
                                <a class="btn-logout" [matMenuTriggerFor]="beforeMenu">{{loginEOSService.accountName}} <i class="far fa-chevron-down"></i></a> 
                                <mat-menu #beforeMenu="matMenu" xPosition="before">
                                  <button mat-menu-item (click)="loginEOSService.logout()">Logout</button>
                                </mat-menu>
                            </li>
                        </ul>
                    </div><i class="menu-toggle pe-7s-menu d-xs-block d-sm-block d-md-none d-sm-none"></i></div>
            </div>
        </div>
</header>

<app-login-eos></app-login-eos>
<router-outlet></router-outlet>

<footer>
    <div>ravex.io © all rights reversed 2019</div>
    <div>
        <a><i class="fab fa-twitter"></i> ravex_io</a>
        <a><i class="fab fa-telegram-plane"></i> ravex_io</a>
        <a><i class="fas fa-envelope"></i> support@ravex.io</a>
    </div>
</footer>
</div>










