<div class="wallet-wrapper">
	<div class="container-full-width">
		<div class="row sm-gutters">
			<div class="col-md-3 col-lg-4 col-xl-4">
				<div class="crypt-deepblue-segment p-2">
					<form class="crypt-dash-search">
						<input type="search" placeholder="Search..." name="s" class="crypt-big-search">
						<button type="submit">
						    <i class="pe-7s-search"></i>
						</button>
					</form>
					<ul class="crypt-big-list crypt-coin-select">
						<li>
							<a>
								<img src="assets/images/coins/btc.png" width="25" class="crypt-market-cap-logo pr-2" alt="coin"> Bitcoin <p class="fright"><b>$456568</b></p>
							</a>
						</li>
						<li>
							<a>
								<img src="assets/images/coins/eth.png" width="25" class="crypt-market-cap-logo pr-2" alt="coin"> Ethrium <p class="fright"><b>$456568</b></p>
							</a>
						</li>
						<li>
							<a>
								<img src="assets/images/coins/ltc.png" width="25" class="crypt-market-cap-logo pr-2" alt="coin"> Litecoin <p class="fright crypt-down"><b>$456568</b></p>
							</a>
						</li>
						<li>
							<a>
								<img src="assets/images/coins/xrp.png" width="25" class="crypt-market-cap-logo pr-2" alt="coin"> XRP <p class="fright"><b>$456568</b></p>
							</a>
						</li>
						<li>
							<a>
								<img src="assets/images/coins/monero.png" width="25" class="crypt-market-cap-logo pr-2" alt="coin"> Monero <p class="fright"><b>$456568</b></p>
							</a>
						</li>
						<li>
							<a>
								<img src="assets/images/coins/zil.png" width="25" class="crypt-market-cap-logo pr-2" alt="coin"> Zilliqua <p class="fright"><b>$456568</b></p>
							</a>
						</li>
						<li>
							<a>
								<img src="assets/images/coins/dash.png" width="25" class="crypt-market-cap-logo pr-2" alt="coin"> Dash <p class="fright"><b>$456568</b></p>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-9 col-lg-8 col-xl-6">
		<router-outlet></router-outlet>
	</div>
</div>	