<ul class="nav nav-tabs" id="crypt-tab">
    <li role="presentation" *ngFor="let elem of tabs; let i = index;" (click)="selectTab(i)"><a [ngClass]="{'active': i === mainService.activeOrders}">{{elem}}</a></li>
</ul>
<div class="example-container mat-elevation-z8 grid-table-bottom-left">
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef class="table-date-header"> Date </th>
      <td mat-cell *matCellDef="let element" class="main-blue-text"> {{ element?.date }} </td>
    </ng-container>

    <ng-container matColumnDef="pair">
      <th mat-header-cell *matHeaderCellDef> Pair </th>
      <td mat-cell *matCellDef="let element"> 
        <strong>{{ element?.symbol }}/{{ mainService.currency }}</strong> 
      </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Type</th>
      <td mat-cell *matCellDef="let element" [ngClass]="{'main-green': element?.type === 'Buy', 'main-red': element?.type === 'Sell'}"> 
          {{ element?.type }} 
      </td>
    </ng-container>

    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef> Author </th>
      <td mat-cell *matCellDef="let element"> {{ element?.author }} </td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef> Amount </th>
      <td mat-cell *matCellDef="let element"> {{ element?.amount }} </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Price({{mainService.currency}}) </th>
      <td mat-cell *matCellDef="let element"> {{ element?.price }} </td>
    </ng-container>

    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef> Total({{mainService.currency}}) </th>
      <td mat-cell *matCellDef="let element"> {{ element?.total }} </td>
    </ng-container>
         
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element" [ngClass]="{'main-green': element?.status === 'CLOSED', 'main-red': element?.status === 'CANCELED'}"> 
        <strong>{{ element?.status }}</strong> 
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>
    <div class="main-spinner" *ngIf="!dataSource">
      <mat-progress-spinner color="primary" mode="indeterminate" [diameter]="40"></mat-progress-spinner>
    </div>
  
      <div class="empty-container" *ngIf="!dataSource?.length">
          <span *ngIf="loginEOSService.connected">Empty</span>
          <span *ngIf="!loginEOSService.connected">Please Login first</span>
      </div>
</div>