<header>
        <div class="container-full-width">
            <div class="crypt-header">
                <div class="row">
                    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-5">
                        <div class="row">
                            <div class="col-xs-2">
                                <div class="crypt-logo"><a href="/trade"><img src="/assets/images/ravex.svg" alt=""></a></div>
                            </div>
                            <div class="col-xs-2">
                                <div class="crypt-mega-dropdown-menu"> 
                                    <a  class="crypt-mega-dropdown-toggle">
                                        <img alt="" class="coin-img" src="https://prospectors.io/auction/img/sets/pb.png">
                                        <div class="coin-header-name">
                                            <div>{{mainService?.currency}}/{{coinInfo?.symbol}}</div>
                                            <div class="token-author">{{coinInfo?.author}}</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 header-coin-grid-container">
                        <div class="header-coin-grid header-coin-info">
                            <p class="header-price">{{coinInfo?.price || '0.0000'}} {{mainService?.currency}}</p>
                            <p [ngClass]="{'crypt-up' : coinInfo?.change > 0, 'crypt-down' : coinInfo?.change < 0}">{{coinInfo?.change || '0.0000'}}%</p>
                        </div>
                        <div class="header-coin-grid header-coin-info">
                            <p class="header-coin-info-title">24h Lowest</p>
                            <p class="crypt-down">{{coinInfo?.min || '0.0000'}} {{mainService?.currency}}</p>
                        </div>
                        <div class="header-coin-grid header-coin-info">
                            <p class="header-coin-info-title">24h Highest</p>
                            <p class="crypt-up">{{coinInfo?.max || '0.0000'}} {{mainService?.currency}}</p>
                        </div>
                        <div class="header-coin-grid header-coin-info">
                            <p class="header-coin-info-title">24h Vol.</p>
                            <p>{{coinInfo?.vol || '0.0000'}} {{coinInfo?.symbol}}</p>
                        </div>
                    </div>
                    <div class="col-xl-5ноу  col-lg-5 col-md-5 d-none d-md-block d-lg-block">
                        <ul class="crypt-heading-menu fright">
                            <li><a routerLink="/trade/sa" class="crypt-active">Simple Assets</a></li>
                            <li><a routerLink="/trade">EOS main</a></li>
                            <li><a>My Account</a></li>
                            <span class="hr-right"></span>
                            <li><a>EN <i class="far fa-chevron-down"></i></a></li>
                            <li><a class="btn-login">login</a></li>
                        </ul>
                    </div><i class="menu-toggle pe-7s-menu d-xs-block d-sm-block d-md-none d-sm-none"></i></div>
            </div>
        </div>
</header>

<ngx-toasta></ngx-toasta>
<router-outlet></router-outlet>

