<ul class="nav nav-tabs" id="crypt-tab">
     <li role="presentation" *ngFor="let elem of tabs; let i = index;" (click)="selectTab(elem)"><a [ngClass]="{'active': elem === mainService.currency}">{{elem | translate}}</a></li>
</ul>
<div class="example-container mat-elevation-z8 grid-table">
	<table mat-table [dataSource]="dataSource">
			
	<ng-container matColumnDef="symbol">
	  <th mat-header-cell *matHeaderCellDef> {{ "SYMBOL" | translate }} </th>
	  <td mat-cell *matCellDef="let element">
	    {{ element?._id?.symbol }} 
	  </td>
	</ng-container>
			
	<ng-container matColumnDef="price">
	  <th mat-header-cell *matHeaderCellDef> {{ "PRICE" | translate }} (EOS) </th>
	  <td mat-cell *matCellDef="let element"> {{ coinsList[element?._id?.ftid]?.price || mainService.priceNull }} </td>
	</ng-container>
			
	<ng-container matColumnDef="change">
	  <th mat-header-cell *matHeaderCellDef> 24h % </th>
	  <td mat-cell *matCellDef="let element"> 
              <span [ngClass]="{'main-red': coinsList[element?._id?.ftid]?.change < 0, 'main-green': coinsList[element?._id?.ftid]?.change > 0}">{{ coinsList[element?._id?.ftid]?.change || '0.00' }}%</span> 
      </td>
	</ng-container>
			
	<ng-container matColumnDef="volume">
	  <th mat-header-cell *matHeaderCellDef class="text-right"> 24h {{ "VOLUME" | translate }} </th>
	  <td mat-cell *matCellDef="let element" class="text-right"> {{ coinsList[element?._id?.ftid]?.vol || mainService.priceNull }} </td>
	</ng-container>
			
	<tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
	<tr mat-row *matRowDef="let row; columns: columns;" [ngClass]="{'row-selected': row?._id?.symbol === mainService.symbol }" (click)="selectCoin(row?._id?.ftid, row?._id?.symbol)"></tr>

	</table>
	
	<div class="main-spinner" *ngIf="!dataSource">
		<mat-progress-spinner color="primary" mode="indeterminate" [diameter]="40"></mat-progress-spinner>
	</div>
	
  	<div class="empty-container" *ngIf="!dataSource?.length">{{ "EMPTY" | translate }}</div>
</div>