@import '~@angular/material/theming';
@import './assets/scss/style.dark.scss';
/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: ClanProNews;
  src: url(assets/fonts/ClanPro-News.otf);
}
html, body { 
	height: 100%; 
	padding: 0;
	margin: 0;
}
body { 
	margin: 0; 
	font-family: "ClanProNews", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased; 
}
