@import '~@angular/material/theming';
@import './assets/scss/style.dark.scss';
@import './assets/scss/home/style.scss';

@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
/* For use in src/lib/core/theming/_palette.scss */
/* For use in src/lib/core/theming/_palette.scss */
$md-mcgpalette0: (
    50 : #e5fafb,
    100 : #bef3f4,
    200 : #93eced,
    300 : #68e4e6,
    400 : #47dee0,
    500 : #27d8db,
    600 : #23d4d7,
    700 : #1dced2,
    800 : #17c8cd,
    900 : #0ebfc4,
    A100 : #f1ffff,
    A200 : #befdff,
    A400 : #8bfbff,
    A700 : #71faff,
    contrast: (
        50 : #ffffff,
        100 : #ffffff,
        200 : #ffffff,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-mcgpalette1: (
    50 : #e1f4ed,
    100 : #b3e3d1,
    200 : #80d1b3,
    300 : #4dbe94,
    400 : #27b07d,
    500 : #01a266,
    600 : #019a5e,
    700 : #019053,
    800 : #018649,
    900 : #007538,
    A100 : #a3ffc7,
    A200 : #70ffa8,
    A400 : #3dff89,
    A700 : #24ff7a,
    contrast: (
        50 : #ffffff,
        100 : #ffffff,
        200 : #ffffff,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);



$dark-primary: mat-palette($md-mcgpalette0);
$dark-accent:  mat-palette($md-mcgpalette1);

// Create the theme object (a Sass map containing all of the palettes).
$cdark-theme: mat-dark-theme($dark-primary, $dark-accent);

$white-color: #fff;
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($cdark-theme);

/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: ClanProNews;
  src: url(assets/fonts/ClanPro-News.otf);
}
html, body { 
	height: 100%; 
	padding: 0;
	margin: 0;
    background: #111935;
}
* {
    outline: none !important;
}
.form-control:focus{
    outline: none !important;
    box-shadow: none !important;
}
.crypt-dark { 
	margin-top: 100px; 
	font-family: "ClanProNews", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased; 
}
a{
    cursor: pointer;
}
.main-spinner{
    position: absolute;
    width: 100%;
    top:0;
    left:0;
    height: 100%;
    background: rgba(24, 37, 72, 0.7);
    z-index: 100;
}
.main-spinner .mat-progress-spinner{
    left: 50%;
    top: 50%;
    margin-left: -20px;
    margin-top: -20px;
}
.wallet-wrapper{
    margin-left: 25px;
    margin-right: 25px;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.no-padding-left{
    padding-left: 0 !important;
}
.mat-header-row, .mat-row{
    height: 30px !important;
}
.mat-header-row{
    border-bottom: 1px solid #202e51;
}
.mat-header-cell{
    color: #27d8db;
}
.lang-active{
    color: #27d8db !important;
}
.mat-cell, .mat-footer-cell{
    font-size: 13px;
}
.mat-table{
    width: 100%;
    background: #192648;
}
.mat-elevation-z8{
    position: relative;
    box-shadow: none !important;
}
.mat-row:nth-child(even){
    background-color: #172442;
}
.mat-row:nth-child(odd){
    background-color: #16203f;
}
.mat-row:hover, .row-selected {
    background-color: #212d52 !important;
    cursor: pointer;
}
.coin-image{
    width: 17px;
    height: 17px;
    background: #fff;
    border-radius: 50%;
    margin-right: 5px;
}
.right-container{
    padding-left: 20px !important;
}
.left-container{
    padding-right: 20px !important;
}

.app-tv-chart-container{
    min-height: 359px;
    height: 48vh;
}
.main-green{
    color: #48c079 !important;
}
.main-red{
    color: #f86050 !important;
}
.main-blue-text{
    color: #455a89 !important;
}
.grid-table{
    height: calc(48vh - 39px);
    min-height: 320px;
    background: #1a2748;
    overflow-y: scroll; 
}
.grid-table-bottom{
    height: calc(39vh - 2.5px);
    min-height: 300px;
    background: #1a2748;
    overflow-y: scroll;
}
.grid-table-bottom-left{
    height: calc(38vh - 45px);
    min-height: 267px;
    background: #1a2748;
    overflow-y: scroll;
}
.crypt-dark p{
    margin-bottom: 0;
}
.header-coin-info{
    padding-top: 15px
}
.header-price{
    font-size: 16px;
}
.header-coin-info-title{
    font-size: 12px;
    color: #455a89 !important;
    margin-top: 2px;
}
.header-coin-grid-container{
    display: flex;
    padding-left: 25px;
}
.header-coin-grid{
    margin-left: 30px;
}
.header-coin-grid:first-child{
    margin-left: 0;
}
.coin-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #17213f;
    margin-right: 10px;
    float: left;
}
.coin-header-name{
    display: table;
    margin-top: 2px;
}
.token-author{
    font-size: 12px;
    color: #455a89;
    font-weight: lighter;
}
.bottom-container{
    padding-right: 13px;
    padding-left: 13px;
}
.input-group-text{
    border: none;
}
.form-control{
    height: 1.7rem;
    font-size: 0.8rem;
}
.contrast-color{
    color: #455a89 !important;
}
.order-book-price{
    background: #16203f;
    padding: 11px 0;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}
.no-shadow{
    box-shadow: none !important;
}
.empty-container{
    text-align: center;
    color: #455a89;
    font-weight: bold;
    padding: 10px;
    margin: 20px;
    background: #16203f94;
}
.mat-button-toggle-appearance-standard{
    background: #16203f !important;
    outline: none;
}
.mat-button-toggle-appearance-standard .mat-button-toggle-label-content{
    line-height: 26px !important;
    padding: 0 22px !important;
}
.mat-button-toggle-group-appearance-standard .mat-button-toggle + .mat-button-toggle,
.mat-button-toggle-standalone.mat-button-toggle-appearance-standard, .mat-button-toggle-group-appearance-standard{
    border-color: rgb(28, 38, 85) !important;
}
.mat-button-toggle-appearance-standard .mat-button-toggle-label-content{
    color: #455a89 !important;
}
footer{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    padding: 30px;
    box-sizing: border-box;
    background: #17213f;
    color: #455a89;
    margin-top: 20px;
}
footer a{
    margin-left: 15px;
}
footer a:hover{
    color: #27d8db !important;
    cursor: pointer;
}
.buy-sell-container{
    height: calc(33vh - 5px);
    min-height: 266px;
    position: relative;
}

// style for popup login wallets
#popup-window{
    z-index: 1000 !important;
    color: #fff !important;
}
.login-wallet{
    border: 1px solid #2f4068 !important;
}
.login-wallet:hover{
    background: #16203f !important;
}
.popup-header-text, .popup-close-icon, .login-wallet{
    background: #1f2d51 !important;
}
.login-wallet-text, .login-wallet-others {
    color: #455a89 !important;
}
.lds-ellipsis div{
    background: #27d8db !important;
}
.loader-popup-container{
    background: rgba(24, 37, 72, 0.7) !important;
}
.popup-container{
    background: #1e2c51 !important;
}
//  end popup

#toasta .toast.toasta-theme-material {
    background-color: #16203f !important;
    border: 1px solid #202e51 !important;
    opacity: 1 !important;
}
.mat-menu-panel{
    background: #16203f;
}
.mat-menu-item{
    text-align: center !important;
    color: #455a89;
}
.mat-menu-item:hover{
    color: #27d8db;
}
.buy-sell-fee{
    font-size: 11px;
}
.table-date-header{
    width: 17%;
}
.trade-history{
    height: calc(88vh - 42px);
    min-height: 644px;
    background: #1a2748;
    overflow-y: scroll;
}
.orders-table-bottom{
    border-bottom: 1px solid rgba(22, 31, 63, 0.5);
}
.login-first-container{
    display: table;
    width: 100%;
    color: #26d8db;
    top: 50%;
    margin-top: -35px;
    position: absolute;
    left: -20px;
}
.empty-container-buy-sell{
    background: rgba(22, 31, 63, 0.5);
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
}
.blur{
    filter: blur(1px);
}
.crypt-bg-head{
    text-transform: uppercase;
}







@media only screen and (max-width: 500px) {
    .crypt-dark{
        margin-top: 90px;
    }
    .crypt-logo{
        padding: 19px !important;
    }
    .crypt-logo img{
        width: 35px !important;
    }
    .right-container{
        padding-left: 7px !important;
    }
    .left-container{
        padding-right: 7px !important;
    }
    .tradingview-widget-container, .left-container{
        margin-top: 1rem;
    }
    .header-coin-grid-container{
        display: none;
    }
    .crypt-dark .crypt-mega-dropdown-menu a.crypt-mega-dropdown-toggle{
        border: none;
    }
}






